*{
    margin: 0;
    padding: 0;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: tan;

}
h1#heading{
    text-align: center;
    margin-top: 40px;
    text-shadow: 3px 3px 2px green;
}
#container{
    margin: 15px auto 0px auto ;
    width: 80%;
    text-align: center;
    background-color: lightgreen;
    border-radius: 10px;
    padding: 20px;
}
.input-div{
    display: inline-block;
}
.inpt{
    padding: 5px 10px ;
    margin: 10px;
    font-size:30px ;
    font-weight: bold;
    width: 200px;
    text-align: center;
    
}
label{
    font-size: 20px;
}
